Design of an Intelligent Parking Automation System Integrated with License Plate Recognition/Thesis/Thesis on the Design of an Intelligent Parking Automation System with Integrated License Plate Recognition.pdf
Design of an Intelligent Parking Automation System Integrated with License Plate Recognition/Thesis/Thesis on the Design of an Intelligent Parking Automation System with Integrated License Plate Recognition.docx
Design of an Intelligent Parking Automation System Integrated with License Plate Recognition/Proje/otopark_sistemi/.idea/vcs.xml
Design of an Intelligent Parking Automation System Integrated with License Plate Recognition/Proje/otopark_sistemi/.idea/inspectionProfiles/profiles_settings.xml
